@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Razor Sharp Pizzaria</h1>
    <h2>Razor Sharp pizza is the pizza for you</h2>
    <img src="~/images/PizzaTime.jpg" alt="">
    <br>
    <a class="btn btn-primary m-3 text-dark" asp-area="" asp-page="Pizza">GIMME PIZZA</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
